body { background-color: #6498b0; 
color: #191970;
font-family: Arial, Verdana, sans-serif; }
h1 { background-color: #89cff0;
color: #ff0000;
line-height: 200%;
font-family: Georgia, "Times New Roman", serif; }
h2 { background-color: #89cff0;
color: #ff0000; text-align: center;
font-family: Georgia, "Times New Roman", serif; }
p {font-size: .90em; text-indent: 3em; }
ul {font-weight: bold; }
#container { margin-left: auto;
margin-right: auto;
width:80%; }
.redcol { 
color: #ff0000;
}
h1 {text-align: center; }
	p {text-align: center; }
	ol {text-align: center; }
	